$primaryColor: rgb(216, 33, 33);
$secundaryColor: #FBC43D;
$tertiaryColor: black;
$primaryBorder: 4px solid $tertiaryColor;
$fontSizeHeader: 35px;


img{

  &.galery{
  width: 800px;
  height: 420px;
  object-fit: contain;
  border: 6px solid $tertiaryColor;
  background-color: rgba(0,0,0,0.7);
  border-radius: 1rem;
  }
}

