@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./image/background.jpg");
  background-repeat: repeat;
}

code {
  font-family: 'Indie Flower', cursive;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-family: 'Indie Flower', cursive;
  font-size: 1em;
}